<div class="panel panel-default" style="margin: 8px;">
  
    <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-home"></i> Home</h3>
    </div>
    
    <h4>Welcome to edu-sharing components build with Angular2!</h4>
    
    <img src="images/edu.png" alt="edu-sharing">

    <h4>edu-sharing composite components:</h4>

    <nav>
      <a [routerLink]="['/collections']">Collections</a><br>
    </nav>

    <h4>miscellaneous:</h4>

    <nav>
        <a [routerLink]="['/demo-eduapi']">edu-sharing API Demo</a><br>
        <a [routerLink]="['/demo-interframecom']">Inter-Framework Event Communication</a><br>
        <a [routerLink]="['/dialoginfo']">DialogInfo</a>
    </nav>
    
    <h4>Use Angular CLI</h4>
    
    <p>
      To add new routes, components, directives, pipes, services, ... see docs of Angular CLI: <a href="https://github.com/angular/angular-cli/blob/master/README.md">https://github.com/angular/angular-cli</a>
    </p>  
    
    <p>
      Angular CLI will even help with upgrading to new Angular2 releases in the future. See video of ng-conf 2016 about Angular CLI: <a href="https://www.youtube.com/watch?v=wHZe6gGI5RY">https://www.youtube.com/watch?v=wHZe6gGI5RY</a>
    </p>

    <h4>Angular Material 2</h4>

    <p>
        We are using Angular Material 2 as a UI framework. The framework has single <a href="https://github.com/angular/material2/wiki/Design-doc-directory">modules</a> - how to install and add them to the project se here: <a href="https://github.com/angular/material2/blob/master/GETTING_STARTED.md">https://github.com/angular/material2/blob/master/GETTING_STARTED.md</a>
    </p>

    <h4>Deploy CCDesktop to edu-sharing base project</h4>

    <p>
        Within edu-sharing base project open the 'build-common.xml' ANT file. Start the 'deploy-angular-app' task and follow given directions.
    </p>

</div>
